<footer>
<p>
  The code is built from the <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a> scaffold project by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>.
</p>

<p>  
Find the repo on <a href="{{ pkg.repository.url }}">Github</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - h:mm a') }}
</p>
</footer>
