// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
// $page-color: #385780;
$page-color: #1f1d4f;
$text-color: #fff;
$accent-color: #4e4176;
