// Breakpoints
$bp-narrow: '(min-width: 400px)';
$bp-mid: '(min-width: 740px)';
$bp-wide: '(min-width: 1200px)';

// Colours
// $page-color: #385780;
$page-color: #ddd;
$text-color: #333;
$accent-color: darkcyan;
